@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ================== Reset Css End ================== */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  text-decoration: none;
}

.wrap {
  max-width: 1024px;
  margin: 0 auto;
}

.header {
  position: relative;
  background: url(../images/header_desktop.png) no-repeat;
  background-size: 100% 100%;
  height: 420px;
}

@media (max-width: 768px) {
  .header {
    max-height: 300px;
  }
}

@media (max-width: 414px) {
  .header {
    background: url(../images/header_mobile.png) no-repeat;
    background-size: 100% 100%;
  }
}

.header .top-bar {
  max-height: 50px;
  background: rgba(0, 0, 0, 0.5);
}

.header .top-bar .show-menu {
  display: none;
}

@media (max-width: 414px) {
  .header .top-bar .show-menu {
    display: block;
    float: right;
    margin: 1em;
    background: #fff;
    padding: 2px 5px;
    color: #000;
  }
}

.header .top-bar h1 {
  float: left;
  margin: 2% 0 2% 5%;
}

@media (max-width: 413px) {
  .header .top-bar h1 {
    margin-top: 3.5%;
  }
}

.header .top-bar h1 a {
  background: url(../images/logo_header.svg) no-repeat;
  width: 120px;
  height: 24px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

.header .top-bar .menu {
  float: right;
  margin-right: 18px;
}

@media (max-width: 414px) {
  .header .top-bar .menu {
    /* 隱藏選單 start */
    max-height: 0px;
    overflow: hidden;
    /* 隱藏選單 end */
    /* 絕對定位在疊在網頁上 */
    position: absolute;
    z-index: 100;
    top: 50px;
    left: 0;
    right: 0;
    -webkit-transition: max-height 2s;
    transition: max-height 2s;
    margin-top: 1px;
  }
}

.header .top-bar .menu li {
  float: left;
  margin: 18px 0 17px 0;
}

@media (max-width: 414px) {
  .header .top-bar .menu li {
    float: none;
    background: #efe9e7;
    margin: 0;
    border-bottom: 1px dashed #441a0a;
    padding: 5px;
  }
}

.header .top-bar .menu a {
  margin-right: 30px;
  color: #fff;
}

@media (max-width: 414px) {
  .header .top-bar .menu a {
    -webkit-transition: all .5s;
    transition: all .5s;
    color: #441a0a;
    display: inline-block;
  }
}

@media (max-width: 414px) {
  .header .top-bar .menu a:focus {
    background: #441a0a;
    color: #fff;
  }
}

.header .top-bar .banner {
  color: #fff;
  position: absolute;
  max-height: auto;
  top: 30%;
  bottom: 30%;
  right: 30%;
  left: 30%;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
}

@media (max-width: 1023px) {
  .header .top-bar .banner {
    right: 15%;
    left: 15%;
  }
}

@media (max-width: 768px) {
  .header .top-bar .banner {
    right: 20%;
    left: 20%;
  }
}

@media (max-width: 767px) {
  .header .top-bar .banner {
    right: 5%;
    left: 5%;
  }
}

@media (max-width: 414px) {
  .header .top-bar .banner {
    max-width: 88%;
    right: 8%;
  }
}

.header .top-bar .banner h2 {
  font-size: 32px;
  margin: 20px 0 30px 0;
  letter-spacing: 5px;
}

@media (max-width: 767px) {
  .header .top-bar .banner h2 {
    letter-spacing: 1px;
  }
}

@media (max-width: 414px) {
  .header .top-bar .banner h2 {
    letter-spacing: 0;
  }
}

@media (max-width: 413px) {
  .header .top-bar .banner h2 {
    font-size: 25px;
  }
}

.header .top-bar .banner p {
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.footer {
  background: #efe9e7;
  height: auto;
  color: #441a0a;
  padding-bottom: 2%;
}

.footer .about, .footer .contact, .footer .community-website {
  margin-top: 45px;
}

@media (max-width: 767px) {
  .footer .about, .footer .contact, .footer .community-website {
    margin-top: 0;
    padding-top: 5%;
  }
}

.footer h3 {
  margin-bottom: 25px;
  font-size: 25.6px;
}

.footer .about {
  width: 30.33333%;
  margin-left: 4%;
  float: left;
}

@media (max-width: 767px) {
  .footer .about {
    width: 65%;
  }
}

.footer .about p {
  line-height: 1.1;
  padding: 5px;
}

.footer .contact {
  width: 28.33333%;
  margin-left: 1%;
  float: left;
}

@media (max-width: 767px) {
  .footer .contact {
    width: 90%;
  }
}

@media (max-width: 767px) {
  .footer .contact h3 {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .footer .contact ul {
    display: table;
    margin: 0 auto;
  }
}

.footer .contact li {
  list-style: disc;
  margin-left: 25px;
  line-height: 1.5;
}

.footer .community-website {
  width: 32.33333%;
  margin-right: 4%;
  float: right;
}

@media (max-width: 767px) {
  .footer .community-website {
    width: 30%;
  }
}

.footer .community-website h3 {
  background: right url(../images/logo_footer.svg) no-repeat;
  height: 48px;
}

@media (max-width: 768px) {
  .footer .community-website h3 {
    background-size: 100% 100%;
  }
}

@media (max-width: 767px) {
  .footer .community-website h3 {
    margin-bottom: 5%;
  }
}

.footer .community-website ul {
  float: right;
}

.footer .community-website li {
  float: left;
}

.footer .community-website li a {
  font-size: 32px;
  text-indent: 10px;
}

@media (max-width: 767px) {
  .footer .community-website li a {
    text-indent: 4px;
  }
}

.footer .community-website .fa-google-plus-square {
  color: #db4437;
}

.footer .community-website .fa-twitter-square {
  color: #41abe1;
}

.footer .community-website .fa-facebook-square {
  color: #3a5795;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

/* jQ 點擊後, 動態在 body 加上 class */
@media (max-width: 414px) {
  .menu-show .header .top-bar .menu {
    max-height: 100px;
  }
}

.content {
  color: #441a0a;
}

.content .cus-alw-ques {
  height: auto;
  background: #efe9e7;
}

.content .cus-alw-ques h4 {
  text-align: center;
  white-space: pre;
  height: 150px;
  line-height: 1.6;
  letter-spacing: 1px;
  font-size: 19.2px;
  position: relative;
}

.content .cus-alw-ques h4 .horizontal-rule {
  display: inline-block;
  width: 100px;
  height: 1px;
  background: #979797;
  border-radius: 5px;
  position: absolute;
  top: 60%;
}

@media (max-width: 767px) {
  .content .cus-alw-ques h4 .horizontal-rule {
    display: none;
  }
}

.content .cus-alw-ques h4 .hr-left {
  left: 29%;
}

@media (max-width: 1023px) {
  .content .cus-alw-ques h4 .hr-left {
    left: 23%;
  }
}

@media (max-width: 768px) {
  .content .cus-alw-ques h4 .hr-left {
    left: 20%;
  }
}

.content .cus-alw-ques h4 .hr-right {
  right: 29%;
}

@media (max-width: 1023px) {
  .content .cus-alw-ques h4 .hr-right {
    right: 23%;
  }
}

@media (max-width: 768px) {
  .content .cus-alw-ques h4 .hr-right {
    right: 20%;
  }
}

.content .cus-alw-ques ul {
  width: 100%;
}

@media (max-width: 767px) {
  .content .cus-alw-ques ul {
    float: none;
  }
}

.content .cus-alw-ques ul li {
  float: left;
  width: 30.33333%;
  margin: 0 1.5% 0 1.5%;
}

@media (max-width: 767px) {
  .content .cus-alw-ques ul li {
    float: none;
    width: 60%;
    margin: 0 auto;
    padding-bottom: 1%;
  }
}

.content .cus-alw-ques ul img {
  display: block;
  margin: 0 auto;
}

.content .cus-alw-ques ul h5 {
  text-align: center;
  margin-top: 25px;
  font-size: 18px;
}

.content .cus-alw-ques ul p {
  padding: 18px;
  line-height: 1.2;
}

.content .today-chef {
  height: auto;
  background: #3d1101;
}

.content .today-chef .tc-picture {
  float: left;
  max-width: 50%;
  margin-right: 5%;
}

@media (max-width: 767px) {
  .content .today-chef .tc-picture {
    float: none;
    max-width: 100%;
    margin: 0;
    margin-bottom: 5%;
  }
}

.content .today-chef .tc-picture img {
  margin-left: 5%;
}

@media (max-width: 767px) {
  .content .today-chef .tc-picture img {
    margin: 0;
    background-size: 100% 100%;
    min-width: -webkit-fill-available;
  }
}

.content .today-chef .article {
  float: left;
  max-width: 45%;
  color: #efe9e7;
  padding: 6.5% 11% 0 0;
  letter-spacing: 1px;
}

@media (max-width: 1023px) {
  .content .today-chef .article {
    padding: 3% 5% 0 0;
  }
}

@media (max-width: 768px) {
  .content .today-chef .article {
    padding: 3% 1% 0 5%;
  }
}

@media (max-width: 767px) {
  .content .today-chef .article {
    float: none;
    max-width: 100%;
    margin: 0;
    padding: 0 1% 3% 1%;
  }
}

.content .today-chef .article h4 {
  font-size: 22px;
  padding-bottom: 10px;
}

.content .today-chef .article h5 {
  font-size: 18px;
  padding-bottom: 30px;
}

.content .today-chef .article p {
  line-height: 1.4;
}

.content .ex-share {
  background: #efe9e7;
}

.content .ex-share h4 {
  text-align: center;
  font-size: 26px;
  padding: 50px 0 20px 0;
  letter-spacing: 2px;
}

.content .ex-share ul {
  margin-top: 20px;
}

@media (max-width: 767px) {
  .content .ex-share ul {
    float: none;
  }
}

.content .ex-share li {
  float: left;
  width: 29.33333%;
  margin: 0 1.5% 0 1.5%;
}

@media (max-width: 767px) {
  .content .ex-share li {
    float: none;
    width: 90%;
    margin-left: 5%;
  }
}

.content .ex-share li .es-picture {
  float: left;
}

.content .ex-share li .es-text {
  margin-left: 80px;
}

.content .ex-share li h5 {
  line-height: 67px;
}

.content .ex-share li p {
  line-height: 1.5;
  margin-bottom: 1.5em;
}

.content .ex-share li span {
  display: block;
  color: #75564a;
  padding-bottom: 10%;
  text-align: right;
}

.content .map-form {
  height: auto;
  padding-bottom: 4%;
  background: #f6f4f3;
}

.content .map-form .map-form-title {
  padding: 50px 0 38px 0;
  font-size: 26px;
}

.content .map-form .map-form-title p {
  text-align: center;
  line-height: 1.5;
  letter-spacing: 1px;
}

.content .map-form .map-pic {
  float: left;
  margin: 0 30px;
}

@media (max-width: 1023px) {
  .content .map-form .map-pic {
    display: none;
    float: none;
    margin: 0;
  }
}

.content .map-form label, .content .map-form .form-radio {
  width: 49%;
}

.content .map-form label {
  float: left;
  margin-bottom: 5px;
}

@media (max-width: 1023px) {
  .content .map-form label {
    margin-left: 20%;
    width: 5%;
  }
}

@media (max-width: 767px) {
  .content .map-form label {
    width: 50%;
  }
}

.content .map-form label, .content .map-form input {
  line-height: 1.2;
}

@media (max-width: 1023px) {
  .content .map-form label, .content .map-form input {
    line-height: 2;
  }
}

.content .map-form .form {
  padding: 0;
}

.content .map-form .form-text {
  width: 45%;
  height: 32px;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  margin-bottom: 15px;
  caret-color: #441a0a;
  outline: none;
}

.content .map-form .form-text:focus {
  border: 1px solid #441a0a;
}

@media (max-width: 1023px) {
  .content .map-form .form-text {
    float: left;
    width: 60%;
  }
}

@media (max-width: 767px) {
  .content .map-form .form-text {
    margin-left: 20%;
  }
}

.content .map-form .form-radio {
  display: inline-block;
  margin: 1.5% 0 1.1% 0;
}

@media (max-width: 1023px) {
  .content .map-form .form-radio {
    width: 100%;
  }
}

.content .map-form .form-radio p {
  letter-spacing: 1px;
  margin-bottom: 10px;
}

@media (max-width: 1023px) {
  .content .map-form .form-radio p {
    margin-left: 11%;
    width: 15%;
    display: inline-block;
  }
}

@media (max-width: 767px) {
  .content .map-form .form-radio p {
    width: 40%;
  }
}

.content .map-form .form-radio input[type="radio"] {
  margin-right: 5%;
  cursor: pointer;
}

.content .map-form #reset, .content .map-form #submit {
  float: right;
  padding: 7px 20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.content .map-form #submit {
  margin-right: 4.1%;
  background: #f56c23;
}

.content .map-form #submit:hover {
  background: red;
}

@media (max-width: 1023px) {
  .content .map-form #submit {
    margin-right: 15%;
  }
}

@media (max-width: 767px) {
  .content .map-form #submit {
    margin-right: 20%;
  }
}

.content .map-form #reset {
  margin-right: 3%;
  background: #a09e9e;
}

.login-content {
  background: #efe9e7;
  padding-bottom: 3%;
}

.login-content h2, .login-content p, .login-content h3 {
  text-align: center;
  color: #441a0a;
}

.login-content h2 {
  font-weight: bold;
  font-size: 50px;
  margin-bottom: .3em;
  padding-top: 1em;
}

.login-content p {
  font-size: 20px;
}

.login-content .login-form {
  margin-top: 2.5em;
  border-top: 3px solid #ff5e45;
  -webkit-box-shadow: 5px 5px 10px grey;
          box-shadow: 5px 5px 10px grey;
}

.login-content .login-form a {
  color: #ff5e45;
  padding-bottom: 10%;
}

.login-form {
  width: 35%;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .login-form {
    width: 60%;
  }
}

.pure-form legend {
  border-bottom: none;
  text-align: center;
  padding-top: 5%;
  color: #441a0a;
  font-weight: bold;
  font-size: 24px;
}

.register-button {
  background: #9b9796;
  margin-bottom: .5em;
}

.login-button {
  background: #ff5e45;
}

.pure-form-stacked label {
  color: #441a0a;
}

.pure-form fieldset {
  padding: .35em .5em .75em;
}

.pure-button {
  width: 100%;
}

.pure-button:hover, .pure-button:focus {
  background: #efe9e7;
  color: #441a0a;
}

@media (max-width: 767px) {
  .pure-button {
    padding: 0.8em 0;
  }
}

@media only screen and (max-width: 480px) {
  .pure-form button[type=submit] {
    margin: 0 0 .5em 0;
  }
}

.pure-form input[type="email"], .pure-form input[type="password"] {
  width: 100%;
  padding: .5em .6em .5em 3em;
}

.pure-form input[type="email"]:focus, .pure-form input[type="email"]:focus, .pure-form input[type="password"]:focus, .pure-form input[type="password"]:focus {
  border-color: #441a0a;
}

@media (max-width: 767px) {
  .pure-form input[type="email"], .pure-form input[type="password"] {
    padding: .5em .6em;
  }
}

.fa-envelope::before, .fa-key::before {
  color: #c3b5b0;
  font-weight: bold;
  font-size: 26px;
  position: relative;
  top: -38px;
  left: 15px;
}

@media (max-width: 767px) {
  .fa-envelope::before, .fa-key::before {
    display: none;
  }
}

form {
  padding: 5%;
}

.cart-main {
  background: #efe9e7;
  color: #441a0a;
  padding: 5%;
}

.cart-main .cart-menu {
  float: left;
  width: 30%;
}

@media (max-width: 767px) {
  .cart-main .cart-menu {
    float: none;
    width: 90%;
    margin-bottom: 5%;
  }
}

.cart-main .cart-menu h3 {
  font-size: 24px;
  padding-bottom: 8%;
}

.cart-main .cart-menu .fa-leaf {
  font-size: 36px;
}

.cart-main .cart-menu li {
  width: 90%;
}

@media (max-width: 767px) {
  .cart-main .cart-menu li {
    width: 50%;
  }
}

.cart-main .cart-menu a {
  color: #441a0a;
  padding: 5% 0 5% 3%;
  border-bottom: 1px solid #441a0a;
}

.cart-main .cart-menu a:hover {
  background: #441a0a;
  color: #fff;
}

.cart-main .cart-content {
  float: left;
  width: 65%;
  margin-left: 2%;
}

@media (max-width: 767px) {
  .cart-main .cart-content {
    width: 95%;
    float: none;
  }
}

.cart-main .cart-header .fa-search::before {
  display: inline-block;
  background: #441a0a;
  color: #fff;
  padding: 63%;
  position: relative;
  left: -43px;
  top: 1px;
}

@media (max-width: 768px) {
  .cart-main .cart-header .fa-search::before {
    top: 2px;
    left: -40px;
    padding: 59%;
  }
}

@media (max-width: 767px) {
  .cart-main .cart-header .fa-search::before {
    display: none;
  }
}

.cart-main .pure-form input[type=search] {
  padding: 1%;
  width: 60%;
  border-radius: 0;
  border: 2px solid #441a0a;
}

.cart-main .pure-form input[type=search]:focus {
  border-color: #441a0a;
}

@media (max-width: 767px) {
  .cart-main .pure-form input[type=search] {
    width: 90%;
  }
}

.cart-main form {
  padding: 0;
}

.cart-main form.pure-form {
  display: inline;
}

.cart-main #shopping-cart-link {
  display: block;
  float: right;
}

@media (max-width: 767px) {
  .cart-main #shopping-cart-link {
    display: none;
  }
}

.cart-main .fa-shopping-cart {
  font-size: 26px;
  color: #441a0a;
}

.cart-main .cart-products ul {
  display: inline-block;
  margin-top: 5%;
}

.cart-main .cart-products li {
  float: left;
  display: inline-table;
  position: relative;
  width: 31.33333%;
  margin: 0 .5em 1em 0;
  text-align: center;
  -webkit-box-shadow: 5px 5px 10px grey;
          box-shadow: 5px 5px 10px grey;
}

@media (max-width: 768px) {
  .cart-main .cart-products li {
    width: 47%;
  }
}

@media (max-width: 767px) {
  .cart-main .cart-products li {
    width: 90%;
  }
}

.cart-main .cart-products a {
  padding: 3% 5%;
  border: 1px solid #f56c23;
  color: #f56c23;
  margin-bottom: .5em;
  border-radius: 5px;
}

.cart-main .cart-products a:hover, .cart-main .cart-products a:focus {
  background: #f56c23;
  color: #fff;
}

.cart-main .cart-products h4 {
  font-size: 20px;
  margin: .5em 0;
  letter-spacing: 2px;
}

.cart-main .cart-products .hr {
  width: 50%;
  margin: 0 auto;
  border: 1px solid #441a0a;
}

.cart-main .cart-products span {
  display: inline;
}

.cart-main .cart-products-title {
  padding-bottom: 1em;
}

.cart-main .cart-products-price {
  padding: 10%;
  font-size: 20px;
}

.cart-main .cart-products-price i {
  font-style: italic;
}

.cart-main .far.fa-heart {
  display: inline;
}

.cart-main .fa-heart::before {
  position: absolute;
  top: 5px;
  left: 7px;
  color: #fff;
  font-size: 26px;
  cursor: pointer;
}

.cart-main .far.fa-heart:hover, .cart-main .far.fa-heart:focus {
  font-weight: bold;
}
/*# sourceMappingURL=all.css.map */