@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ================== Reset Css End ================== */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  text-decoration: none;
  /**
 		* Remove the gray background color from active links in IE 10.
 	*/
  background-color: transparent;
  /**
 		* Improve readability of focused elements when they are also in an
 		* active/hover state.
 	*/
}

a:active, a:hover {
  outline: 0;
}

.color-primary {
  color: #441a0a;
}

.bg-primary {
  background-color: #efe9e7;
}

.p-1 {
  padding: 1em;
}

.p-3 {
  padding: 3em;
}

.mt-2 {
  margin-top: 2em;
}

.form-p-0 {
  padding: 0;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

/* Pure Base */
/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
	* Address `overflow` set to `hidden` in IE 8/9/10/11.
	*/
button {
  overflow: visible;
}

/**
	* Address inconsistent `text-transform` inheritance for `button` and `select`.
	* All other form control elements do not inherit `text-transform` values.
	* Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
	* Correct `select` style inheritance in Firefox.
	*/
button,
select {
  text-transform: none;
}

/**
	* 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
	*    and `video` controls.
	* 2. Correct inability to style clickable `input` types in iOS.
	* 3. Improve usability and consistency of cursor style between image-type
	*    `input` and others.
	*/
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
	* Re-set default cursor for disabled elements.
	*/
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
	* Remove inner padding and border in Firefox 4+.
	*/
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
	* Address Firefox 4+ setting `line-height` on `input` using `!important` in
	* the UA stylesheet.
	*/
input {
  line-height: normal;
}

/**
	* It's recommended that you don't attempt to style these elements.
	* Firefox's implementation doesn't respect box-sizing, padding, or width.
	*
	* 1. Address box sizing set to `content-box` in IE 8/9/10.
	* 2. Remove excess padding in IE 8/9/10.
	*/
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
	* Fix the cursor style for Chrome's increment/decrement buttons. For certain
	* `font-size` values of the `input`, it causes the cursor style of the
	* decrement button to change from `default` to `text`.
	*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
	* 1. Address `appearance` set to `searchfield` in Safari and Chrome.
	* 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
	*/
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
}

/**
	* Remove inner padding and search cancel button in Safari and Chrome on OS X.
	* Safari (but not Chrome) clips the cancel button when the search input has
	* padding (and `textfield` appearance).
	*/
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
	* Define consistent border, margin, and padding.
	*/
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
	* 1. Correct `color` not being inherited in IE 8/9/10/11.
	* 2. Remove padding so people aren't caught out if they zero out fieldsets.
	*/
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
	* Remove default vertical scrollbar in IE 8/9/10/11.
	*/
textarea {
  overflow: auto;
}

/**
	* Don't inherit the `font-weight` (applied by a rule above).
	* NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
	*/
optgroup {
  font-weight: bold;
}

/*!
Pure v1.0.1
Copyright 2013 Yahoo!
Licensed under the BSD License.
https://github.com/pure-css/pure/blob/master/LICENSE.md
*/
.pure-form input[type=color], .pure-form input[type=date], .pure-form input[type=datetime-local], .pure-form input[type=datetime], .pure-form input[type=email], .pure-form input[type=month], .pure-form input[type=number], .pure-form input[type=password], .pure-form input[type=search], .pure-form input[type=tel], .pure-form input[type=text], .pure-form input[type=time], .pure-form input[type=url], .pure-form input[type=week], .pure-form select, .pure-form textarea {
  padding: .5em .6em;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 3px #ddd;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.pure-form input:not([type]) {
  padding: .5em .6em;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 3px #ddd;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.pure-form input[type=color] {
  padding: .2em .5em;
}

.pure-form input[type=color]:focus, .pure-form input[type=date]:focus, .pure-form input[type=datetime-local]:focus, .pure-form input[type=datetime]:focus, .pure-form input[type=email]:focus, .pure-form input[type=month]:focus, .pure-form input[type=number]:focus, .pure-form input[type=password]:focus, .pure-form input[type=search]:focus, .pure-form input[type=tel]:focus, .pure-form input[type=text]:focus, .pure-form input[type=time]:focus, .pure-form input[type=url]:focus, .pure-form input[type=week]:focus, .pure-form select:focus, .pure-form textarea:focus {
  outline: 0;
  border-color: #129fea;
}

.pure-form input:not([type]):focus {
  outline: 0;
  border-color: #129fea;
}

.pure-form input[type=checkbox]:focus, .pure-form input[type=file]:focus, .pure-form input[type=radio]:focus {
  outline: thin solid #129fea;
  outline: 1px auto #129fea;
}

.pure-form .pure-checkbox, .pure-form .pure-radio {
  margin: .5em 0;
  display: block;
}

.pure-form input[type=color][disabled], .pure-form input[type=date][disabled], .pure-form input[type=datetime-local][disabled], .pure-form input[type=datetime][disabled], .pure-form input[type=email][disabled], .pure-form input[type=month][disabled], .pure-form input[type=number][disabled], .pure-form input[type=password][disabled], .pure-form input[type=search][disabled], .pure-form input[type=tel][disabled], .pure-form input[type=text][disabled], .pure-form input[type=time][disabled], .pure-form input[type=url][disabled], .pure-form input[type=week][disabled], .pure-form select[disabled], .pure-form textarea[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3;
}

.pure-form input:not([type])[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3;
}

.pure-form input[readonly], .pure-form select[readonly], .pure-form textarea[readonly] {
  background-color: #eee;
  color: #777;
  border-color: #ccc;
}

.pure-form input:focus:invalid, .pure-form select:focus:invalid, .pure-form textarea:focus:invalid {
  color: #b94a48;
  border-color: #e9322d;
}

.pure-form input[type=checkbox]:focus:invalid:focus, .pure-form input[type=file]:focus:invalid:focus, .pure-form input[type=radio]:focus:invalid:focus {
  outline-color: #e9322d;
}

.pure-form select {
  height: 2.25em;
  border: 1px solid #ccc;
  background-color: #fff;
}

.pure-form select[multiple] {
  height: auto;
}

.pure-form label {
  margin: .5em 0 .2em;
}

.pure-form fieldset {
  margin: 0;
  padding: .35em 0 .75em;
  border: 0;
}

.pure-form legend {
  display: block;
  width: 100%;
  padding: .3em 0;
  margin-bottom: .3em;
  color: #333;
  border-bottom: 1px solid #e5e5e5;
}

.pure-form-stacked input[type=color], .pure-form-stacked input[type=date], .pure-form-stacked input[type=datetime-local], .pure-form-stacked input[type=datetime], .pure-form-stacked input[type=email], .pure-form-stacked input[type=file], .pure-form-stacked input[type=month], .pure-form-stacked input[type=number], .pure-form-stacked input[type=password], .pure-form-stacked input[type=search], .pure-form-stacked input[type=tel], .pure-form-stacked input[type=text], .pure-form-stacked input[type=time], .pure-form-stacked input[type=url], .pure-form-stacked input[type=week], .pure-form-stacked label, .pure-form-stacked select, .pure-form-stacked textarea {
  display: block;
  margin: .25em 0;
}

.pure-form-stacked input:not([type]) {
  display: block;
  margin: .25em 0;
}

.pure-form-aligned .pure-help-inline, .pure-form-aligned input, .pure-form-aligned select, .pure-form-aligned textarea, .pure-form-message-inline {
  display: inline-block;
  vertical-align: middle;
}

.pure-form-aligned textarea {
  vertical-align: top;
}

.pure-form-aligned .pure-control-group {
  margin-bottom: .5em;
}

.pure-form-aligned .pure-control-group label {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  width: 10em;
  margin: 0 1em 0 0;
}

.pure-form-aligned .pure-controls {
  margin: 1.5em 0 0 11em;
}

.pure-form .pure-input-rounded, .pure-form input.pure-input-rounded {
  border-radius: 2em;
  padding: .5em 1em;
}

.pure-form .pure-group fieldset {
  margin-bottom: 10px;
}

.pure-form .pure-group input, .pure-form .pure-group textarea {
  display: block;
  padding: 10px;
  margin: 0 0 -1px;
  border-radius: 0;
  position: relative;
  top: -1px;
}

.pure-form .pure-group input:focus, .pure-form .pure-group textarea:focus {
  z-index: 3;
}

.pure-form .pure-group input:first-child, .pure-form .pure-group textarea:first-child {
  top: 1px;
  border-radius: 4px 4px 0 0;
  margin: 0;
}

.pure-form .pure-group input:first-child:last-child, .pure-form .pure-group textarea:first-child:last-child {
  top: 1px;
  border-radius: 4px;
  margin: 0;
}

.pure-form .pure-group input:last-child, .pure-form .pure-group textarea:last-child {
  top: -2px;
  border-radius: 0 0 4px 4px;
  margin: 0;
}

.pure-form .pure-group button {
  margin: .35em 0;
}

.pure-form .pure-input-1 {
  width: 100%;
}

.pure-form .pure-input-3-4 {
  width: 75%;
}

.pure-form .pure-input-2-3 {
  width: 66%;
}

.pure-form .pure-input-1-2 {
  width: 50%;
}

.pure-form .pure-input-1-3 {
  width: 33%;
}

.pure-form .pure-input-1-4 {
  width: 25%;
}

.pure-form .pure-help-inline, .pure-form-message-inline {
  display: inline-block;
  padding-left: .3em;
  color: #666;
  vertical-align: middle;
  font-size: .875em;
}

.pure-form-message {
  display: block;
  color: #666;
  font-size: .875em;
}

@media only screen and (max-width: 480px) {
  .pure-form button[type=submit] {
    margin: .7em 0 0;
  }
  .pure-form input:not([type]), .pure-form input[type=color], .pure-form input[type=date], .pure-form input[type=datetime-local], .pure-form input[type=datetime], .pure-form input[type=email], .pure-form input[type=month], .pure-form input[type=number], .pure-form input[type=password], .pure-form input[type=search], .pure-form input[type=tel], .pure-form input[type=text], .pure-form input[type=time], .pure-form input[type=url], .pure-form input[type=week], .pure-form label {
    margin-bottom: .3em;
    display: block;
  }
  .pure-group input:not([type]), .pure-group input[type=color], .pure-group input[type=date], .pure-group input[type=datetime-local], .pure-group input[type=datetime], .pure-group input[type=email], .pure-group input[type=month], .pure-group input[type=number], .pure-group input[type=password], .pure-group input[type=search], .pure-group input[type=tel], .pure-group input[type=text], .pure-group input[type=time], .pure-group input[type=url], .pure-group input[type=week] {
    margin-bottom: 0;
  }
  .pure-form-aligned .pure-control-group label {
    margin-bottom: .3em;
    text-align: left;
    display: block;
    width: 100%;
  }
  .pure-form-aligned .pure-controls {
    margin: 1.5em 0 0 0;
  }
  .pure-form .pure-help-inline, .pure-form-message, .pure-form-message-inline {
    display: block;
    font-size: .75em;
    padding: .2em 0 .8em;
  }
}

/*!
Pure v1.0.1
Copyright 2013 Yahoo!
Licensed under the BSD License.
https://github.com/pure-css/pure/blob/master/LICENSE.md
*/
.pure-button {
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.pure-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.pure-button-group {
  letter-spacing: -.31em;
  text-rendering: optimizespeed;
}

.opera-only :-o-prefocus, .pure-button-group {
  word-spacing: -.43em;
}

.pure-button-group .pure-button {
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

.pure-button {
  font-family: inherit;
  font-size: 100%;
  padding: .5em 1em;
  color: #444;
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid #999;
  border: none transparent;
  background-color: #e6e6e6;
  text-decoration: none;
  border-radius: 2px;
}

.pure-button-hover, .pure-button:focus, .pure-button:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(40%, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.1)));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
}

.pure-button:focus {
  outline: 0;
}

.pure-button-active, .pure-button:active {
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
  border-color: #000;
}

.pure-button-disabled, .pure-button-disabled:active, .pure-button-disabled:focus, .pure-button-disabled:hover, .pure-button[disabled] {
  border: none;
  background-image: none;
  opacity: .4;
  cursor: not-allowed;
  -webkit-box-shadow: none;
  box-shadow: none;
  pointer-events: none;
}

.pure-button-hidden {
  display: none;
}

.pure-button-primary, .pure-button-selected, a.pure-button-primary, a.pure-button-selected {
  background-color: #0078e7;
  color: #fff;
}

.pure-button-group .pure-button {
  margin: 0;
  border-radius: 0;
  border-right: 1px solid #111;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.pure-button-group .pure-button:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.pure-button-group .pure-button:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-right: none;
}

.wrap {
  max-width: 1024px;
  margin: 0 auto;
}

.header {
  position: relative;
  background: url(../images/header_desktop.png) no-repeat;
  background-size: 100% 100%;
  height: 420px;
}

@media (max-width: 768px) {
  .header {
    max-height: 300px;
  }
}

@media (max-width: 414px) {
  .header {
    background: url(../images/header_mobile.png) no-repeat;
    background-size: 100% 100%;
  }
}

.header .top-bar {
  max-height: 50px;
  background: rgba(0, 0, 0, 0.5);
}

.header .top-bar .show-menu {
  display: none;
}

@media (max-width: 414px) {
  .header .top-bar .show-menu {
    display: block;
    float: right;
    margin: 1em;
    padding: 2px 5px;
  }
}

.header .top-bar h1 {
  float: left;
  margin: 1em 0 1em 2.5em;
}

.header .top-bar h1 a {
  background: url(../images/logo_header.svg) no-repeat;
  width: 120px;
  height: 24px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

.header .top-bar .menu {
  float: right;
  margin-right: 18px;
}

@media (max-width: 414px) {
  .header .top-bar .menu {
    /* 隱藏選單 start */
    max-height: 0px;
    overflow: hidden;
    /* 隱藏選單 end */
    /* 絕對定位在疊在網頁上 */
    position: absolute;
    z-index: 100;
    top: 50px;
    left: 0;
    right: 0;
    -webkit-transition: max-height 2s;
    transition: max-height 2s;
    margin-top: 1px;
  }
}

.header .top-bar .menu li {
  float: left;
  margin: 18px 0 17px 0;
}

@media (max-width: 414px) {
  .header .top-bar .menu li {
    float: none;
    background: #efe9e7;
    margin: 0;
    border-bottom: 1px dashed #441a0a;
    padding: 5px;
  }
}

.header .top-bar .menu a {
  margin-right: 30px;
  color: #fff;
}

@media (max-width: 414px) {
  .header .top-bar .menu a {
    -webkit-transition: all .5s;
    transition: all .5s;
    color: #441a0a;
    display: inline-block;
  }
}

@media (max-width: 414px) {
  .header .top-bar .menu a:focus {
    background: #441a0a;
    color: #fff;
  }
}

.header .top-bar .banner {
  color: #fff;
  position: absolute;
  max-height: auto;
  top: 30%;
  bottom: 30%;
  right: 30%;
  left: 30%;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
}

@media (max-width: 1023px) {
  .header .top-bar .banner {
    right: 15%;
    left: 15%;
  }
}

@media (max-width: 768px) {
  .header .top-bar .banner {
    right: 20%;
    left: 20%;
  }
}

@media (max-width: 767px) {
  .header .top-bar .banner {
    right: 5%;
    left: 5%;
  }
}

@media (max-width: 414px) {
  .header .top-bar .banner {
    max-width: 88%;
    right: 8%;
  }
}

.header .top-bar .banner h2 {
  font-size: 32px;
  margin: 20px 0 30px 0;
  letter-spacing: 5px;
}

@media (max-width: 767px) {
  .header .top-bar .banner h2 {
    letter-spacing: 1px;
  }
}

@media (max-width: 414px) {
  .header .top-bar .banner h2 {
    letter-spacing: 0;
  }
}

@media (max-width: 413px) {
  .header .top-bar .banner h2 {
    font-size: 25px;
  }
}

.header .top-bar .banner p {
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.footer {
  background: #efe9e7;
  height: auto;
  color: #441a0a;
  padding-bottom: 2%;
}

.footer .about, .footer .contact, .footer .community-website {
  margin-top: 45px;
}

@media (max-width: 767px) {
  .footer .about, .footer .contact, .footer .community-website {
    margin-top: 0;
    padding-top: 5%;
  }
}

.footer h3 {
  margin-bottom: 1em;
  font-size: 25.6px;
}

.footer .about {
  width: 30.33333%;
  margin-left: 4%;
  float: left;
}

@media (max-width: 767px) {
  .footer .about {
    width: 65%;
  }
}

.footer .about p {
  line-height: 1.1;
  padding: 5px;
}

.footer .contact {
  width: 28.33333%;
  margin-left: 1%;
  float: left;
}

@media (max-width: 767px) {
  .footer .contact {
    width: 90%;
  }
}

@media (max-width: 767px) {
  .footer .contact h3 {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .footer .contact ul {
    display: table;
    margin: 0 auto;
  }
}

.footer .contact li {
  list-style: disc;
  margin-left: 25px;
  line-height: 1.5;
}

.footer .community-website {
  width: 32.33333%;
  margin-right: 4%;
  float: right;
}

@media (max-width: 767px) {
  .footer .community-website {
    width: 30%;
  }
}

.footer .community-website h3 {
  background: right url(../images/logo_footer.svg) no-repeat;
  height: 48px;
}

@media (max-width: 768px) {
  .footer .community-website h3 {
    background-size: 100% 100%;
  }
}

@media (max-width: 767px) {
  .footer .community-website h3 {
    margin-bottom: 10%;
  }
}

@media (max-width: 414px) {
  .footer .community-website h3 {
    margin-bottom: 0;
  }
}

.footer .community-website ul {
  float: right;
}

.footer .community-website li {
  float: left;
}

.footer .community-website li a {
  font-size: 32px;
  text-indent: 10px;
}

@media (max-width: 767px) {
  .footer .community-website li a {
    text-indent: 4px;
  }
}

.footer .community-website .fa-google-plus-square {
  color: #db4437;
}

.footer .community-website .fa-twitter-square {
  color: #41abe1;
}

.footer .community-website .fa-facebook-square {
  color: #3a5795;
}

/* CartProduct */
.l-list li {
  float: left;
  position: relative;
  width: 31.33333%;
  margin: 0 .5em 1em 0;
  text-align: center;
  -webkit-box-shadow: 5px 5px 10px grey;
          box-shadow: 5px 5px 10px grey;
}

@media (max-width: 768px) {
  .l-list li {
    width: 47%;
    display: inline-table;
  }
}

@media (max-width: 767px) {
  .l-list li {
    width: 90%;
  }
}

.l-list a {
  padding: 3% 5%;
  border: 1px solid #f56c23;
  color: #f56c23;
  margin-bottom: .5em;
  border-radius: 5px;
}

.l-list a:hover, .l-list a:focus {
  background: #f56c23;
  color: #fff;
}

.l-list h4 {
  font-size: 20px;
  margin: .5em 0;
  letter-spacing: 2px;
}

.l-list .hr {
  width: 50%;
  margin: 0 auto;
  border: 1px solid #441a0a;
}

.l-list-title {
  padding-bottom: 1em;
}

.l-list-price {
  padding: 10%;
  font-size: 20px;
}

.l-list-price i {
  font-style: italic;
}

/* jQ 點擊後, 動態在 body 加上 class */
@media (max-width: 414px) {
  .menu-show .header .top-bar .menu {
    max-height: 100px;
  }
}

.cus-alw-ques {
  height: auto;
  background: #efe9e7;
}

.cus-alw-ques h4 {
  text-align: center;
  white-space: pre;
  height: 150px;
  line-height: 1.6;
  letter-spacing: 1px;
  font-size: 19.2px;
  position: relative;
}

.cus-alw-ques h4 .horizontal-rule {
  display: inline-block;
  width: 100px;
  height: 1px;
  background: #979797;
  border-radius: 5px;
  position: absolute;
  top: 60%;
}

@media (max-width: 767px) {
  .cus-alw-ques h4 .horizontal-rule {
    display: none;
  }
}

.cus-alw-ques h4 .hr-left {
  left: 29%;
}

@media (max-width: 1023px) {
  .cus-alw-ques h4 .hr-left {
    left: 23%;
  }
}

@media (max-width: 768px) {
  .cus-alw-ques h4 .hr-left {
    left: 20%;
  }
}

.cus-alw-ques h4 .hr-right {
  right: 29%;
}

@media (max-width: 1023px) {
  .cus-alw-ques h4 .hr-right {
    right: 23%;
  }
}

@media (max-width: 768px) {
  .cus-alw-ques h4 .hr-right {
    right: 20%;
  }
}

.cus-alw-ques ul {
  width: 100%;
}

@media (max-width: 767px) {
  .cus-alw-ques ul {
    float: none;
  }
}

.cus-alw-ques ul li {
  float: left;
  width: 30.33333%;
  margin: 0 1.5% 0 1.5%;
}

@media (max-width: 767px) {
  .cus-alw-ques ul li {
    float: none;
    width: 60%;
    margin: 0 auto;
    padding-bottom: 1%;
  }
}

.cus-alw-ques ul img {
  display: block;
  margin: 0 auto;
}

.cus-alw-ques ul h5 {
  text-align: center;
  margin-top: 25px;
  font-size: 18px;
}

.cus-alw-ques ul p {
  padding: 18px;
  line-height: 1.2;
}

.today-chef {
  height: auto;
  background: #3d1101;
}

.today-chef .tc-picture {
  float: left;
  max-width: 50%;
  margin-right: 5%;
}

@media (max-width: 767px) {
  .today-chef .tc-picture {
    float: none;
    max-width: 100%;
    margin: 0;
    margin-bottom: 5%;
  }
}

.today-chef .tc-picture img {
  margin-left: 5%;
}

@media (max-width: 767px) {
  .today-chef .tc-picture img {
    margin: 0;
    background-size: 100% 100%;
    min-width: -webkit-fill-available;
  }
}

.today-chef .article {
  float: left;
  max-width: 45%;
  color: #efe9e7;
  padding: 6.5% 11% 0 0;
  letter-spacing: 1px;
}

@media (max-width: 1023px) {
  .today-chef .article {
    padding: 3% 5% 0 0;
  }
}

@media (max-width: 768px) {
  .today-chef .article {
    padding: 3% 1% 0 5%;
  }
}

@media (max-width: 767px) {
  .today-chef .article {
    float: none;
    max-width: 100%;
    margin: 0;
    padding: 0 1% 3% 1%;
  }
}

.today-chef .article h4 {
  font-size: 22px;
  padding-bottom: 10px;
}

.today-chef .article h5 {
  font-size: 18px;
  padding-bottom: 30px;
}

.today-chef .article p {
  line-height: 1.4;
}

.ex-share {
  background: #efe9e7;
}

.ex-share h4 {
  text-align: center;
  font-size: 26px;
  padding: 50px 0 20px 0;
  letter-spacing: 2px;
}

.ex-share ul {
  margin-top: 20px;
}

@media (max-width: 767px) {
  .ex-share ul {
    float: none;
  }
}

.ex-share li {
  float: left;
  width: 29.33333%;
  margin: 0 1.5% 0 1.5%;
}

@media (max-width: 767px) {
  .ex-share li {
    float: none;
    width: 90%;
    margin-left: 5%;
  }
}

.ex-share li .es-picture {
  float: left;
}

.ex-share li .es-text {
  margin-left: 80px;
}

.ex-share li h5 {
  line-height: 67px;
}

.ex-share li p {
  line-height: 1.5;
  margin-bottom: 1.5em;
}

.ex-share li span {
  display: block;
  color: #75564a;
  padding-bottom: 10%;
  text-align: right;
}

.map-form {
  height: auto;
  padding-bottom: 4%;
  background: #f6f4f3;
}

.map-form-title {
  padding: 50px 0 38px 0;
  font-size: 26px;
}

.map-form-title p {
  text-align: center;
  line-height: 1.5;
  letter-spacing: 1px;
}

.map-form .map-pic {
  float: left;
  margin: 0 30px;
}

@media (max-width: 1023px) {
  .map-form .map-pic {
    display: none;
    float: none;
    margin: 0;
  }
}

.map-form label, .map-form .form-radio {
  width: 49%;
}

.map-form label {
  float: left;
  margin-bottom: 5px;
}

@media (max-width: 1023px) {
  .map-form label {
    margin-left: 20%;
    width: 5%;
  }
}

@media (max-width: 767px) {
  .map-form label {
    width: 50%;
  }
}

.map-form label, .map-form input {
  line-height: 1.2;
}

@media (max-width: 1023px) {
  .map-form label, .map-form input {
    line-height: 2;
  }
}

.map-form .form-text {
  width: 45%;
  height: 32px;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  margin-bottom: 15px;
  caret-color: #441a0a;
  outline: none;
}

.map-form .form-text:focus {
  border: 1px solid #441a0a;
}

@media (max-width: 1023px) {
  .map-form .form-text {
    float: left;
    width: 60%;
  }
}

@media (max-width: 767px) {
  .map-form .form-text {
    margin-left: 20%;
  }
}

.map-form .form-radio {
  display: inline-block;
  margin: 1.5% 0 1.1% 0;
}

@media (max-width: 1023px) {
  .map-form .form-radio {
    width: 100%;
  }
}

.map-form .form-radio p {
  letter-spacing: 1px;
  margin-bottom: 10px;
}

@media (max-width: 1023px) {
  .map-form .form-radio p {
    margin-left: 11%;
    width: 15%;
    display: inline-block;
  }
}

@media (max-width: 767px) {
  .map-form .form-radio p {
    width: 40%;
  }
}

.map-form .form-radio input[type="radio"] {
  margin-right: 5%;
  cursor: pointer;
}

.map-form #reset, .map-form #submit {
  float: right;
  padding: 7px 20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.map-form #submit {
  margin-right: 4.1%;
  background: #f56c23;
}

.map-form #submit:hover {
  background: red;
}

@media (max-width: 1023px) {
  .map-form #submit {
    margin-right: 15%;
  }
}

@media (max-width: 767px) {
  .map-form #submit {
    margin-right: 20%;
  }
}

.map-form #reset {
  margin-right: 3%;
  background: #a09e9e;
}

.map-form #reset:hover {
  background: #000;
}

.login-content {
  background: #efe9e7;
  padding-bottom: 3%;
}

.login-content h2, .login-content p, .login-content h3 {
  text-align: center;
  color: #441a0a;
}

.login-content h2 {
  font-weight: bold;
  font-size: 50px;
  margin-bottom: .3em;
  padding-top: 1em;
}

.login-content p {
  font-size: 20px;
}

.login-content .login-form {
  margin-top: 2.5em;
  border-top: 3px solid #ff5e45;
  -webkit-box-shadow: 5px 5px 10px grey;
          box-shadow: 5px 5px 10px grey;
}

.login-content .login-form a {
  color: #ff5e45;
  padding-bottom: 10%;
}

.login-form {
  width: 35%;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .login-form {
    width: 60%;
  }
}

.pure-form legend {
  border-bottom: none;
  text-align: center;
  padding-top: 5%;
  color: #441a0a;
  font-weight: bold;
  font-size: 24px;
}

.register-button {
  background: #9b9796;
  margin-bottom: .5em;
}

.login-button {
  background: #ff5e45;
}

.pure-form-stacked label {
  color: #441a0a;
}

.pure-form fieldset {
  padding: .35em .5em .75em;
}

.pure-button {
  width: 100%;
}

.pure-button:hover, .pure-button:focus {
  background: #efe9e7;
  color: #441a0a;
}

@media (max-width: 767px) {
  .pure-button {
    padding: 0.8em 0;
  }
}

@media only screen and (max-width: 480px) {
  .pure-form button[type=submit] {
    margin: 0 0 .5em 0;
  }
}

.pure-form input[type="email"], .pure-form input[type="password"] {
  width: 100%;
  padding: .5em .6em .5em 3em;
}

.pure-form input[type="email"]:focus, .pure-form input[type="email"]:focus, .pure-form input[type="password"]:focus, .pure-form input[type="password"]:focus {
  border-color: #441a0a;
}

@media (max-width: 767px) {
  .pure-form input[type="email"], .pure-form input[type="password"] {
    padding: .5em .6em;
  }
}

.fa-envelope, .fa-key {
  width: 0;
  height: 0;
  display: block;
}

.fa-envelope::before, .fa-envelope::before, .fa-key::before, .fa-key::before {
  color: #c3b5b0;
  font-weight: bold;
  font-size: 26px;
  position: relative;
  top: -38px;
  left: 15px;
}

@media (max-width: 767px) {
  .fa-envelope::before, .fa-envelope::before, .fa-key::before, .fa-key::before {
    display: none;
  }
}

.cart-menu {
  float: left;
  width: 30%;
}

@media (max-width: 767px) {
  .cart-menu {
    float: none;
    width: 90%;
    margin-bottom: 2em;
  }
}

.cart-menu h3 {
  font-size: 24px;
  padding-bottom: 1.5em;
}

.cart-menu .fa-leaf {
  font-size: 36px;
}

.cart-menu li {
  width: 90%;
  border-bottom: 1px solid #441a0a;
}

.cart-menu li:hover {
  background: #441a0a;
}

@media (max-width: 767px) {
  .cart-menu li {
    width: 50%;
  }
}

@media (max-width: 413px) {
  .cart-menu li {
    width: 67%;
  }
}

.cart-menu a {
  color: #441a0a;
  padding: 5% 0 5% 3%;
  display: block;
}

.cart-menu a:hover {
  color: #fff;
}

.cart-content {
  float: left;
  width: 65%;
  margin-left: 2%;
}

@media (max-width: 767px) {
  .cart-content {
    width: 95%;
    float: none;
  }
}

.cart-header .fa-search::before {
  display: inline-block;
  background: #441a0a;
  color: #fff;
  padding: 63%;
  position: relative;
  left: -43px;
  top: 1px;
}

@media (max-width: 768px) {
  .cart-header .fa-search::before {
    top: 2px;
    left: -40px;
    padding: 59%;
  }
}

@media (max-width: 767px) {
  .cart-header .fa-search::before {
    display: none;
  }
}

.pure-form input[type=search] {
  padding: 1%;
  width: 60%;
  border-radius: 0;
  border: 2px solid #441a0a;
}

.pure-form input[type=search]:focus {
  border-color: #441a0a;
}

@media (max-width: 767px) {
  .pure-form input[type=search] {
    width: 90%;
  }
}

#shopping-cart-link {
  display: block;
  float: right;
}

@media (max-width: 767px) {
  #shopping-cart-link {
    display: none;
  }
}

.fa-shopping-cart {
  font-size: 26px;
  color: #441a0a;
}

.far.fa-heart {
  display: inline;
}

.far.fa-heart:hover, .far.fa-heart:focus {
  font-weight: bold;
}

.fa-heart::before {
  position: absolute;
  top: 5px;
  left: 7px;
  color: #fff;
  font-size: 26px;
  cursor: pointer;
}
/*# sourceMappingURL=all.css.map */