.content {
  color: $cus-color;
  .cus-alw-ques {
    height: auto;
    background: $cus-bg;
    h4 {
      text-align: center;
      white-space: pre;
      height: 150px;
      line-height: 1.6;
      letter-spacing: 1px;
      font-size: $h3-font-size;
      position: relative;
      .horizontal-rule {
        display: inline-block;
        width: 100px;
        height: 1px;
        background: #979797;
        border-radius: 5px;
        position: absolute;
        top: 60%;
        @include pad-v-1 {
          display: none;
        }
      }
      .hr-left {
        left: 29%;
        @include desktop-m-1 {
          left: 23%;
        }
        @include pad-v {
          left: 20%;
        }
      }
      .hr-right {
        right: 29%;
        @include desktop-m-1 {
          right: 23%;
        }
        @include pad-v {
          right: 20%;
        }
      }
    }
    ul {
      float: right;
      width: 100%;
      @include pad-v-1 {
        float: none;
      }
      li {
        float: left;
        width: 30.33333%;
        margin: 0 1.5% 0 1.5%;
        @include pad-v-1 {
          float: none;
          width: 60%;
          margin: 0 auto;
          padding-bottom: 1%;
        }
        img {
          display: block;
          margin: 0 auto;
        }
        h5 {
          text-align: center;
          margin-top: 25px;
          font-size: 18px;
        }
        p {
          padding: 18px;
          line-height: 1.2;
        }
      }
    }
  } // cus-alw-ques END

  .today-chef {
    height: auto;
    background: #3d1101;
    .tc-picture {
      float: left;
      max-width: 50%;
      margin-right: 5%;
      @include pad-v-1 {
        float: none;
        max-width: 100%;
        margin: 0;
        margin-bottom: 5%;
      }
      img {
        margin-left: 5%;
        @include pad-v-1 {
          margin: 0;
          background-size: 100% 100%;
          min-width: -webkit-fill-available;
        }
      }
    }
    .article {
      float: left;
      max-width: 45%;
      color: $cus-bg;
      padding: 6.5% 11% 0 0;
      letter-spacing: 1px;
      @include desktop-m-1 {
        padding: 3% 5% 0 0; 
      }
      @include pad-v {
        padding: 3% 1% 0 5%;
      }
      @include pad-v-1 {
        float: none;
        max-width: 100%;
        margin: 0;
        padding:0 1% 3% 1%;
      }
      h4 {
        font-size: 22px;
        padding-bottom: 10px;
      }
      h5 {
        font-size: 18px;
        padding-bottom: 30px;
      }
      p {
        line-height: 1.4;
      }
    }
  } // today-chef END

  .ex-share {
    background: $cus-bg;
    h4 {
      text-align: center;
      font-size: 26px;
      padding: 50px 0 20px 0;
      letter-spacing: 2px;
    }
    ul {
      float: right;
      margin-top: 20px;
      @include pad-v-1 {
        float: none;
      }
    }
    li {
      float: left;
      width: 29.33333%;
      margin: 0 1.5% 0 1.5%;
      @include pad-v-1 {
        float: none;
        width: 90%;
        margin-left: 5%;
      }
      .es-picture {
        float: left;
      }
      .es-text {
        margin-left: 80px;
        h5 {
          line-height: 67px;
        }
        p {
          line-height: 1.5;
          margin-bottom: 10%;
        }
      }
      span {
        display: block;
        color: #75564a;
        padding-bottom: 10%;
        text-align: right;
      }
    }
  } // ex-share END

  .map-form {
    height: auto;
    padding-bottom: 4%;
    background: #f6f4f3;
    
    .map-form-title {
      padding: 50px 0 38px 0 ;
      font-size: 26px;
      p {
        text-align: center;
        line-height: 1.5;
        letter-spacing: 1px;
      }
    }
    .map-pic {
      float: left;
      margin: 0 30px;
      @include desktop-m-1 {
        display: none;
        float: none;
        margin: 0;
      }
    }
    label, .form-radio {
      width: 49%;
    }
    label {
      float: left;
      margin-bottom: 5px;
      @include desktop-m-1 {
        margin-left: 20%;
        width: 5%;
      }
      @include pad-v-1 {
        width: 50%;
      }
    }
    label, input {
      line-height: 1.2;
      @include desktop-m-1 {
        line-height: 2;
      }
    }
    .form form {
      padding: 0;
    }
    .form-text {
      width: 45%;
      height: 32px;
      border: none;
      border-radius: 10px;
      padding: 5px 10px;
      margin-bottom: 15px;
      caret-color: $cus-color;
      outline: none;
      @include desktop-m-1 {
        float: left;
        width: 60%;
      }
      @include pad-v-1 {
        // width: 30%;
        margin-left: 20%;
      }
    }
    .form-text:focus {
      border: 1px solid $cus-color;
    }
    .form-radio {
      display: inline-block;
      margin: 1.5% 0 1.1% 0;
      @include desktop-m-1 {
        width: 100%;
      }
      p {
        letter-spacing: 1px;
        margin-bottom: 10px;
        @include desktop-m-1 {
          margin-left: 11%;
          width: 15%;
          display: inline-block;
        }
        @include pad-v-1 {
          width: 40%;
        }
      }
      input[type="radio"] {
        margin-right: 5%;
        cursor: pointer;
      }
    }
    #reset, #submit {
      float: right;
      padding: 7px 20px;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
    }
    #submit {
      margin-right: 4.1%;
      background: #f56c23;
      @include desktop-m-1 {
        margin-right: 15%;
      }
      @include pad-v-1 {
        margin-right: 20%;;
      }
    }
    #submit:hover {
      background: red;
    }
    #reset {
      margin-right: 3%;
      background: #a09e9e;
    }
  } // map-form END
}